<%- include('../partials/header.ejs'); %>

<!-- MAIN CONTENT-->
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
   
      <!-- Masthead Heading-->
      <h1 class="masthead-heading text-uppercase mb-0">Books Library</h1>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <!-- Student Information-->
      <p class="masthead-subheading font-weight-light mb-0">Ala'a Al-Khdour - 301230316 </p>
  </div>
</header>

<%- include('../partials/footer.ejs'); %>


